
@{
    ViewData["Title"] = "CallbyJquery";
}

<h1>Call Api synchronous</h1>
<table class="table" id="tbl1">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SupplierID</th>
            <th scope="col">Rate</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h1>Call Api asynchronous</h1>
<table class="table" id="tbl2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">SupplierID</th>
            <th scope="col">Rate</th>

        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>



@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "https://localhost:44392/api/Suppliers/SupplierRate",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (response) {                    

                        for (i = 0; i < response.length; i++) {
                            var html = "<tr><td>" + Number(1 + i) + "</td><td>" + response[i]["SupplierID"] + "</td><td>" + response[i]["Rate"] + "</td></tr>";
                            $("#tbl1 tbody").append(html);
                        } 
                    },
                    failure: function (response) {
                        
                        alert("Failure");
                    },
                    error: function (response) {
                       
                        alert("Error");
                    }
                });


            $.ajax({
                type: "GET",
                url: "https://localhost:44392/api/Suppliers/OverlappingSupplierRate/@ViewData["id"]",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (response) {
                    for (i = 0; i < response.length; i++) {
                        var html = "<tr><td>" + Number(1 + i) + "</td><td>" + response[i]["SupplierID"] + "</td><td>" + response[i]["Rate"] + "</td></tr>";
                        $("#tbl2 tbody").append(html);
                    } 
                },
                failure: function (response) {
                  
                    alert("Failure");
                },
                error: function (response) {
            
                    alert("Error");
                }
            });
        });
    </script>

}

